/*
Using SFGUI built-in Widget class to style widgets like buttons and window, CSS lookalike
*/

Button
{
    BackgroundColor: #00000000;
    BorderWidth: 0;
}

Button:PRELIGHT
{
    BorderColor: #00000000;
    BackgroundColor: #00000000;
    BorderWidth: 1;
}

Window
{
    BorderWidth: 7;
    BorderColor: #3F3F3F3F;
}

SettingsButton
{
    BackgroundColor: #00000000;
    BorderWidth: 0;
}

#window
{
    BackgroundColor: #696969FF;
}
#settingsbutton
{
    FontSize: 50.0f;
}

#settingsframe
{
    FontSize: 100.0f;
    BorderWidth: 0.0f;
}

#childsettingsframe
{
    FontSize: 60.0f;
    BorderWidth: 0.0f;
}

#settingsbuttongui
{
    FontSize: 50.0f;
}

#settingscontrols
{
    FontSize: 30.0f;
}

#settingscontrolsgui
{
    FontSize: 30.0f;
}

#imagebutton
{
    BackgroundColor: #00000000;
    BorderWidth: 5;
    FontSize: 30.0f;
}

#notebook, #frame
{
    BorderWidth: 0;
}

#label
{
    FontSize: 45px;
}

#settingslabel
{
    FontSize: 30px;
}