/*
Using SFGUI built-in Widget class to style widgets like buttons and window
*/

Button
{
    BackgroundColor: #00000000;
    BorderWidth: 0;
}

Button:PRELIGHT
{
    BorderColor: #00000000;
    BackgroundColor: #00000000;
    BorderWidth: 1;
}

Window
{
    BackgroundColor: #696969FF;
    BorderWidth: 7;
    BorderColor: #3F3F3F3F;
}

SettingsButton
{
    BackgroundColor: #00000000;
    BorderWidth: 0;
}

#button, #frame, #settingsbutton, #settingsbuttongui, #guibutton, #settingsframe, #childsettingsframe, #settingscontrols
    , #settingslabel
{
    FontName: resources/fonts/deathrattlebb_reg.ttf;
}

#settingsbutton
{
    FontSize: 70.0f;
}

#settingsframe
{
    FontSize: 100.0f;
    BorderWidth: 0.0f;
}

#childsettingsframe
{
    FontSize: 60.0f;
    BorderWidth: 0.0f;
}

#settingsbuttongui
{
    FontSize: 50.0f;
}

#settingscontrols
{
    FontSize: 50.0f;
}

#imagebutton
{
    BackgroundColor: #00000000;
    BorderWidth: 5;
    FontSize: 40.0f;
}

#notebook
{
    BorderWidth: 0;
}

#settingslabel
{
    FontSize: 50px;
}